{% extends "base.html" %} {% block announce %}
<style>
    .twitter {
        color: #1DA1F2;
    }
</style><strong><i>v2</i></strong> of <b style="color: #ddbd05;">Minato Namikaze</b> will be releasing soon! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="color: #09d6dd;" href="https://github.com/The-4th-Hokage/yondaime-hokage/projects/1"
    target="_blank">Stay tuned</a>&nbsp;
<span class="twemoji twitter">
    {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>{% endblock %}