{% extends "base.html" %}
<script src="https://xnqtmjy63llr.statuspage.io/embed/script.js"></script>
<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '747480356625711204', // Konohagakure
        channel: '762729342768775198', // #🤖│bot-commands・🤖
        location: ['bottom', 'left'],
    })
</script>
{% block announce %}
<style>
    .twitter {
        color: #1DA1F2;
    }
</style><strong><i>v2</i></strong> of <b style="color: #ddbd05;">Minato Namikaze</b> will be releasing soon! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="color: #09d6dd;" href="https://github.com/The-4th-Hokage/yondaime-hokage/projects/1"
    target="_blank">Stay tuned</a>&nbsp;
<span class="twemoji twitter">
    {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>{% endblock %}